*{
    margin: auto;
}

.containerInfo{
    width: 90%;
    height: 500px;
    background-color: #d2b6d19c;
    display: grid;
    grid-template-columns:35% 65%;
    grid-column-gap: 0%;
    margin-top: 80px;
    border: 3px solid #d81ed1;
    border-radius: 0%;
}

.imageInfo img{
    border-radius: 50%;
    height: 250px;
    border: 3px solid #d81ed1;
}
.imageInfo img:hover{
    opacity: 0.6;
}

.detailsInfo{
    margin-top: 60px;
}

.detailsInfo h1 {
    text-transform: uppercase;
    text-align: center;
    color: #1475ce;
}

.detailsInfo h5 {
    text-align:start !important;
    margin-top: 17px;
}

.itemInfo{
    display: grid;
    grid-template-columns:30% 70%;
    grid-column-gap: 3%;
    justify-items: start;
}

h5{
    width: 100%;
    text-indent: 0px;
    text-align: justify;
    letter-spacing: .5px;
}

p{
    text-align: justify;
    width: 100%;
    text-indent: 0px;
    text-align: justify;
    letter-spacing: .5px;
    padding-right: 35px;
}