<!-- card ui -->
<div class="con">
  <div class="card">
    <div class="about">
      <h1>Login</h1>
<!--       <h2>oDsoky .<span>inc</span></h2> -->
      <p>TO DO LIST</p>
    </div>
    <form autocomplete="on" action="/login" method="POST">

      <div class="inputs">
<!--         <i class="fa fa-envelope-o" aria-hidden="true"></i> -->
        <input type="email" name="email" placeholder="Email" required/>

        <input type="password" name="password" placeholder="Password" required/>
         {{#if msg}}
         <p>{{msg}}</p>
         {{/if}}
      </div>
      
  
    <button type="submit" class="submit">Login</button>

      <div class="login">
<!--       Already a member -->
      <label id="login" for="login"><p> Already a member! <a href="/signup"> Sign up </a></p></label> 
        </div>
      </form>
    
    
    
  </div></div>