<header class="main-header">
  <a href="/"><img src="img/todo.png" alt="logo"/></a>
  <nav>
    {{!-- <ul>
      <li>About</li>
      <li>Sign up</li>
      <li>login</li>
    </ul> --}}

                {{#if authenticated}}
                {{#if name}}
                <li>
                    <b>HELLO:</b>&nbsp;
                    <a class="username" href="/profile/{{user.id}}">{{name}}</a>
                </li>
               
                <li>
                    <a href="/logout">LOGOUT</a>
                </li>

                {{/if}}
                {{/if}}

                {{#unless authenticated}}
                <li>
                    <a href="/login">LOGIN</a>
                </li>
                <li>
                    <a href="/signup">SIGNUP</a>
                </li>
                {{/unless}}

  </nav>
</header>